In [5]:
import pandas as pd

from pandasql import sqldf

# importing module 
import sqlite3

In [6]:
# conn = sqlite3.connect('ratings.db')

# c = conn.cursor()

# c.execute("""CREATE""")

In [14]:
title = pd.read_csv('titles.csv')

/Users/antoniohila/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
title.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [9]:
ratings = pd.read_csv('ratings.csv', index_col = 0)

/Users/antoniohila/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1688
1  tt0000002            6.0       208
2  tt0000003            6.5      1429
3  tt0000004            6.1       122
4  tt0000005            6.1      2225

In [20]:
top_200 = sqldf("""SELECT primaryTitle, averageRating, numVotes, 
         FROM title t INNER JOIN ratings r ON t.tconst = r.tconst
         WHERE numVotes > 50000
         AND averageRating > 8
         AND (titleType = 'tvMiniSeries' OR titleType = 'tvSeries')
         ORDER BY averageRating desc
         LIMIT 200""")

In [34]:
sqldf("""SELECT *
         FROM top_200
         WHERE genres NOT LIKE '%Documentary%'
         AND genres NOT LIKE '%News%'
         AND genres NOT LIKE '%History%'
         AND genres NOT LIKE '%Talk-Show%'
         AND genres NOT LIKE '%Reality-TV%'
         AND averageRating > 8.6""")

,primaryTitle,averageRating,numVotes,genres
0,Breaking Bad,9.5,1473024,"Crime,Drama,Thriller"
1,Scam 1992: The Harshad Mehta Story,9.4,87088,"Biography,Crime,Drama"
2,The Wire,9.3,286759,"Crime,Drama,Thriller"
3,Game of Thrones,9.3,1777156,"Action,Adventure,Drama"
4,The Sopranos,9.2,304099,"Crime,Drama"
5,Avatar: The Last Airbender,9.2,249631,"Action,Adventure,Animation"
6,Rick and Morty,9.2,378032,"Adventure,Animation,Comedy"
7,Fullmetal Alchemist: Brotherhood,9.1,122638,"Action,Adventure,Animation"
8,Sherlock,9.1,810329,"Crime,Drama,Mystery"
9,Leyla and Mecnun,9.1,88808,"Adventure,Comedy,Drama"
10,TVF Pitchers,9.1,52715,"Comedy,Drama"
11,The Twilight Zone,9.0,71713,"Drama,Fantasy,Horror"
12,Batman: The Animated Series,9.0,87834,"Action,Adventure,Animation"
13,Firefly,9.0,244426,"Adventure,Drama,Sci-Fi"
14,Death Note,9.0,240561,"Animation,Crime,Drama"
15,True Detective,9.0,501144,"Crime,Drama,Mystery"
16,Friends,8.9,831928,"Comedy,Romance"
17,Cowboy Bebop,8.9,90084,"Action,Adventure,Animation"
18,The Office,8.9,417549,Comedy
19,Gravity Falls,8.9,74555,"Adventure,Animation,Comedy"
20,Hunter x Hunter,8.9,58567,"Action,Adventure,Animation"
21,Attack on Titan,8.9,204699,"Action,Adventure,Animation"
22,Fargo,8.9,329117,"Crime,Drama,Thriller"
23,When They See Us,8.9,93728,"Biography,Crime,Drama"
24,Monty Python's Flying Circus,8.8,67737,Comedy
25,Seinfeld,8.8,256602,Comedy
26,Twin Peaks,8.8,176237,"Crime,Drama,Mystery"
27,Pride and Prejudice,8.8,76441,"Drama,Romance"
28,Freaks and Geeks,8.8,129932,"Comedy,Drama"
29,The West Wing,8.8,65117,Drama
30,Chappelle's Show,8.8,54635,"Comedy,Music"
31,It's Always Sunny in Philadelphia,8.8,190886,Comedy
32,Black Mirror,8.8,447122,"Drama,Sci-Fi,Thriller"
33,Peaky Blinders,8.8,352967,"Crime,Drama"
34,Narcos,8.8,359441,"Biography,Crime,Drama"
35,One Punch Man,8.8,117364,"Action,Animation,Comedy"
36,Dark,8.8,286839,"Crime,Drama,Mystery"
37,The Mandalorian,8.8,294893,"Action,Adventure,Sci-Fi"
38,Fawlty Towers,8.7,85189,Comedy
39,Oz,8.7,89172,"Crime,Drama,Thriller"
40,Dragon Ball Z,8.7,68882,"Action,Adventure,Animation"
41,South Park,8.7,332289,"Animation,Comedy"
42,Dragon Ball Z,8.7,113625,"Action,Adventure,Animation"
43,Six Feet Under,8.7,121588,"Comedy,Drama"
44,Curb Your Enthusiasm,8.7,103313,Comedy
45,The Shield,8.7,72305,"Crime,Drama,Thriller"
46,Arrested Development,8.7,277401,Comedy
47,One Piece,8.7,70813,"Action,Adventure,Animation"
48,Battlestar Galactica,8.7,153263,"Action,Adventure,Drama"
49,House,8.7,415868,"Drama,Mystery"
50,The Boys,8.7,250526,"Action,Comedy,Crime"
51,Downton Abbey,8.7,164463,"Drama,Romance"
52,House of Cards,8.7,467899,Drama
53,Better Call Saul,8.7,326002,"Crime,Drama"
54,BoJack Horseman,8.7,113873,"Animation,Comedy,Drama"
55,Stranger Things,8.7,827936,"Drama,Fantasy,Horror"
56,This Is Us,8.7,107871,"Comedy,Drama,Romance"
57,Fleabag,8.7,102548,"Comedy,Drama"
58,The Marvelous Mrs. Maisel,8.7,81217,"Comedy,Drama"